<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon slot="icon-only" name="scan-circle-outline"></ion-icon>
        </ion-buttons>

        <ion-title>
            Ingresar Elemento
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>

        <ion-row>
            <ion-col>

                <ion-button type="submit " color="danger" expand="block" shape="round " size="default" fill="outline" (click)="newScanner()">

                    <ion-icon slot="icon-only" name="phone-landscape-outline"></ion-icon>
                    <ion-label class="ion-padding-start">Scanner</ion-label>

                </ion-button>

            </ion-col>
        </ion-row>

        <ion-row class="ion-padding-top">
            <ion-col>

                <ion-list>

                    <ion-item>
                        <ion-input class="labels " name="nombre " placeholder="Nombre del elemento " required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input class="labels " name="numero " [(ngModel)]='data' placeholder="Numero del elemento " disabled required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-textarea class="labels " name="description " placeholder="Descripción del elemento " required></ion-textarea>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button type="submit " color="tertiary " expand="block" fill="clear">


                    <ion-icon slot="icon-only" name="send-outline"></ion-icon>
                    <ion-label class="ion-padding-start">Enviar</ion-label>

                </ion-button>
            </ion-col>
        </ion-row>




    </ion-grid>

</ion-content>